body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  padding: 4px;
}

.card {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid grey;
  margin: 0.5rem;
  transition: 0.3s;
  height: auto;
  padding: 12px;
  box-sizing: border-box;
  width: 23%;
}

.card:hover {
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 2px 16px;
}

.card-group {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  justify-content: flex-start;
}

.add-btn {
  background-color: green;
  color: #fff;
  padding: 0.8rem 1rem;
}

#form-container {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

#form-container:target {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-form {
  background-color: #eee;
  border: 1px solid gray;
  padding: 1.5rem;
  position: relative;
}

.book-form a {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: crimson;
  color: #fff;
}

.book-form input {
  margin: 0.8rem 0;
}

.book-form .button {
  position: relative;
  align-self: center;
  background-color: green;
}
